.body {
    transition: background 3s ease;
    /* transition: background-image 2s ease; */
}

.background-gradient-scroll {
    background: url(../../public/images/gradient.png) no-repeat center center fixed;
}

.midSection {
    transition: opacity 0.8s ease;

}

.heroSection {
    transition: opacity 1s ease;
    opacity: 0;
}

.navSection {
    transition: opacity 1s ease;
    opacity: 1;
}

.mainImage {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.fadeIn {
    animation: fadeIn 10s;
}

.fadeOut {
    animation: fadeOut 3s;
}

.gradient-scroll-animation {
    /*position: sticky;*/
    top: 100px;

}

.gradient-mine {
    background: rgb(18, 16, 43);
    background: linear-gradient(rgba(18, 16, 43, 1) 4%, rgba(43, 38, 75, 1) 13%, rgba(76, 63, 144, 1) 24%, rgba(54, 72, 161, 1) 48%, rgba(58, 98, 179, 1) 77%, rgba(76, 53, 186, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.mainAll{
    /* background:  #FFDB01; */
    transition: background 1s ease;
}
.circle{
    /* h-[654px] w-[654px] flex justify-center rounded-full mb-[118px] */
    height: 654px;
    width: 654px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 118px;
    /* background-color: white; */
    transition: background 1s ease;
}
.content1{
    margin-bottom: 0px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        font-size: 0;
        
    }
    100% {

        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        /* font-size: 0; */

    }

    100% {
        opacity: 0;
    }
}