@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
		html {
        scroll-behavior: smooth;
        }
		
		body{
		margin:0;
		font-family: 'Source Sans Pro', sans-serif;
		}
		
		.title1{
		font-size:2em;
		color:#8c0c60;
		display:block;
		}
		
		.sub-title{
		font-size:0.8em;
		color:gray;
		display:block;
		}
		
		.btn1{
		padding:10px 20px;
		background:transparent;
		border:1px solid #8c0c3c;
		color:#8c0c3c;
		border-radius:3px;
		outline:none;
		transition:0.5s;
		}
		
		.btn1:hover{
		background:#8c0c3c;
		color:#fff;
		}
		
		.btn2{
		padding:10px 20px;
		border-radius:3px;
		background:#1e1e1e;
		border:1px solid #1e1e1e;
		color:#fff;
		outline:none;
		transition:0.5s;
		}
		
		.btn2:hover{
		background:transparent;
		color:#1e1e1e;
		}
		
		.title:before{
		content:"ï…¸ ";
		font-family:"FontAwesome";
		font-size:30px;
		}
		
		a{
		text-decoration:none;
		}
		
		.section2,.section3{
		width:90%;
		margin:5% 0%;
		margin-left:auto;
		margin-right:auto;
		}
		
		.section2 table,.section3 table{
		width:100%;
		}
		
		.section2 table td,.section3 table td{
		width:50%;
		}
		
		.section2 table td img,.section3 table td img{
		width:80%;
		height:70%;
		margin-left:auto;
		margin-right:auto;
		box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
		}
		
		.section3 table td img{
		float:right;
		}
		
		
		@media (max-width:720px){
		.section2 table td, .section3 table td{
		width:100%;
		display:block;
		}
		.section3 table td img{
		float:none;
		margin-top:4%;
		}
		.section2 table td img,.section3 table td img{
		width:100%;
		height:60%;
		}
		}

@media (max-width:300px){
  .section2,.section3{
    font-size:12px;
  }
  .section3 table td img{
		float:none;
		margin-top:8%;
		}
  .btn1,.btn2{
    padding:5px 10px;
  }
}
.footer{
  position:fixed;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  background:#1e1e1e;
  padding:10px 20px;
  color:gray;
  font-size:13px;
  position:fixed;
  bottom:10px;
  right:0;
}