.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    padding:100px;
    margin-top:100px;
}
.card-inner{
    height: 400px;
    width : 22vw;
    min-width: 300px;
    display:flex;
    margin:30px;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 12px;
    
    position: relative;
    border-width: 15px;
    border:4px solid black;
    
    
    
    justify-content: center;
    align-items: center;
   
}

.heading{
    color:white;
  justify-content:center;
  align-items:center;
  display:flex;
  box-sizing:border-box;
  border-radius: 12px 12px 0px 0px;
  
  padding:10px;
  height: 80px;
  
  font-weight:bold;
  font-size:20px;
  text-align: center;
}
.content{
    color:white;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    
    
}
.nav-items{
  
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    margin: 10px;
    display: inline-flex;
   
    text-align: center;
    
    letter-spacing: 1.2px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
  
}
.nav-items:hover{
  color: #7EAF4B;

}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hover:hover{
  transform: rotate(50deg);
}
.footer{
  background-color: #4A2679;
  justify-content: center;
  align-items: center;
  width:100%;
  
}

.footer-text-1{
  display: flex;
}

.content1{
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin:20px;
  justify-content: space-around;
  align-items: center;
}

.text{
  display: flex;
  flex-direction: column;
  color:white;
  justify-content: center;
  align-items: flex-start;
}
.cc{
  border-bottom: 2px solid white;
}
.footer-text{
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.image{
  padding: 20px;
  margin:20px;
  
  min-width: 400px;
}
.img{
  padding: 10px;
  margin: 20px;

}
.footer{
  
    position: relative;
    bottom: 0%;
    z-index: 1;
  
}
.footer-text{
  font-size: 36px;
}
.footer-text-2{
  display: flex;
  flex-direction: row;
}
.footer-text-3{
  display: flex;
  flex-direction: row;
  
}
.contact{
  padding: 20px;
  margin: 20px;
  font-size: 24px;
}
@media only screen and (max-width: 920px){
  
  .footer-text{
    font-size:20px;
  }
}
@media only screen and (max-width: 700px){
  .content1{
    flex-direction: column;
  }
  
  
}
.text-1{
  font-size:34px;
  font-weight:800;
  text-align: center;
  flex-wrap:wrap;

}
.text-2{
  font-size:64px;
  font-weight:800;
  text-align: center;
  flex-wrap:wrap;

}
#expandable{
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:column;
  transform-origin: center top;
  flex-wrap: wrap;
  margin-bottom:20px;
  transform: none;
  
}
.text-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
.text-2-button{
  font-size:24px;
  font-weight:500;
  text-align: right;
}

  




  
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
		html {
        scroll-behavior: smooth;
        }
		
		body{
		margin:0;
		font-family: 'Source Sans Pro', sans-serif;
		}
		
		.title1{
		font-size:2em;
		color: #7EAF4B;
		display:block;
		}

    .title2{
      font-size:2em;
      color:#FFB109;
      display:block;
      }
		
		.sub-title{
		font-size:0.8em;
		color:gray;
		display:block;
		}
		
		.btn1{
		padding:10px 20px;
		background:transparent;
		border:1px solid #8c0c3c;
		color:#8c0c3c;
		border-radius:3px;
		outline:none;
		transition:0.5s;
		}
		
		.btn1:hover{
		background:#8c0c3c;
		color:#fff;
		}
		
		.btn2{
		padding:10px 20px;
		border-radius:3px;
		background:#1e1e1e;
		border:1px solid #1e1e1e;
		color:#fff;
		outline:none;
		transition:0.5s;
		}
		
		.btn2:hover{
		background:transparent;
		color:#1e1e1e;
		}
		
		.title:before{
		content:" ";
		font-family:"FontAwesome";
		font-size:30px;
		}
		
		a{
		text-decoration:none;
		}
		
		.section2,.section3{
		width:90%;
		margin:5% 0%;
		margin-left:auto;
		margin-right:auto;
		}
		
		.section2 table,.section3 table{
		width:100%;
		}
		
		.section2 table td,.section3 table td{
		width:50%;
		}
		
		.section2 table td img,.section3 table td img{
		width:80%;
		height:70%;
		margin-left:auto;
		margin-right:auto;
		box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
		}
		
		.section3 table td img{
		float:right;
		}
		
		
		@media (max-width:720px){
		.section2 table td, .section3 table td{
		width:100%;
		display:block;
		}
		.section3 table td img{
		float:none;
		margin-top:4%;
		}
		.section2 table td img,.section3 table td img{
		width:100%;
		height:60%;
		}
		}

@media (max-width:300px){
  .section2,.section3{
    font-size:12px;
  }
  .section3 table td img{
		float:none;
		margin-top:8%;
		}
  .btn1,.btn2{
    padding:5px 10px;
  }
}
/* .footer{
  position:fixed;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  background:#1e1e1e;
  padding:10px 20px;
  color:gray;
  font-size:13px;
  position:fixed;
  bottom:10px;
  right:0;
} */
